
*{

    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.title-container { 
    
    background-color: gold;
    font-weight: 700;
    text-align: center;
    margin: 25px auto;
    padding: 8px;

}

.title-container h1{
    
    width: 200px;
    margin: 0 auto;

}

.recipe-container{
    
    width: 700px;
    height: 80px;
    background-color: wheat;
    padding: 15px;
    margin: 0px auto;

}

.recipe-container li{

    display: inline-block;
    width: 200px;
    margin-left: 16px;
    padding: 10px;
    text-align: center;
    
}


